numpy
pandas
cv2
scikit-learn
tensorflow
matplotlib
seaborn
jupyterlab
requests
certifi
chardet
Click
clickclick
connexion
swagger-ui-bundle
openapi-spec-validator
Flask
marshmallow
flask-marshmallow
Flask-Script
idna
inflection
itsdangerous
Jinja2
jsonschema
MarkupSafe
pathlib
PyYAML
six
urllib3
bcrypt
Werkzeug
gunicorn
# Automated tests
pytest
pytest-cov
