@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* LAYOUT */
/* use Grid https://css-tricks.com/snippets/css/complete-guide-grid/ */

.layout-container {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/var() */
  padding-left: var(1.25rem);
  padding-right: var(1.25rem);
}

.layout-flex,
.layout-grid {
  align-items: center;
  justify-content: center;
}

.layout-flex {
  display: flex;
}

.layout-grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .layout-container,
  .layout-column-center {
    margin-left: auto;
    margin-right: auto;
  }

  .layout-grid-2,
  .layout-grid-3 {
    column-gap: var(1.5rem);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .layout-grid-3 div:nth-of-type(3) {
    left: calc(50% + (var(1.5rem) / 2));
    position: relative;
  }

  .layout-column-4 {
    width: calc((var(3.625rem) * 4) + (var(1.5rem) * 3));
  }
}

@media screen and (min-width: 1024px) {
  .layout-container {
    width: 60rem;
  }

  .layout-grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .layout-grid-3 div:nth-of-type(3) {
    position: static;
  }
}

@media screen and (min-width: 1200px) {
}

#content-top,
#content-middle {
  box-sizing: border-box;
  height: fit-content;
  background-color: #3e3e3e;
  padding-top: 50px;
  background-image: url(./assets/wavelight.svg);
  background-repeat: no-repeat;
  background-position-y: bottom;
}

#content-middle {
  height: auto;
  background-color: #eaeaea;
  background-image: url(./assets/wavedark.svg);
  display: flex;
  grid-template-columns: 1fr;
  flex-wrap: wrap;
  padding-bottom: 24rem;
  width: 100%;
}

nav {
  width: 70%;
  display: flex;
  font-size: 22px;
  color: #eaeaea;
  justify-content: space-between;
  margin: 0 auto;
  padding: 25px;
  align-items: center;
  box-shadow: 0px 0px 35px 1px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  padding: 25px;
}

nav img {
  padding: 10px;
  padding-right: 25px;
}

.content-top-body {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
}

.content-top-body aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-top-body h1 {
  font-size: 80px;
  color: #eaeaea;
}

#button {
  background-color: #eaeaea;
  color:#3e3e3e;
  font-size: 20px;
  padding: 10px;
  width: 180px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 0px 35px 1px rgba(0, 0, 0, 0.5);
}

.card {
  width: 40%;
  box-sizing: border-box;
  padding: 25px;
  margin: 30px auto;
  height: auto;
  border-radius: 25px;
  background-color: #3e3e3e;
  box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.2);
}

.long {
  width: 90%;
  height: fit-content;
}

.content-middle-body {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  color: #3e3e3e;
}

.content-middle-body h1 {
  font-size: 50px;
  color: #3e3e3e;
}

.content-middle-body p {
  font-size: 20px;
}

.content-middle-body li {
  font-size: 20px;
}

.content-middle-body code {
  font-size: 20px;
}

.middle-about a {
  color: rgb(39, 121, 189);
}
.bigsplash {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
  color: #f5f5f5;
}

.half > div {
  flex-basis: 50%;
}

.slider {
  -webkit-appearance: none;
  width: 45%;
  height: 12px;
  border-radius: 15px;
  background: rgb(22, 133, 109);
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-color: rgb(40, 32, 68);
  background: rgb(245, 255, 255);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-color: rgb(40, 32, 68);
  background: rgb(245, 255, 255);
  cursor: pointer;
}

.video-booth {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#photo-booth {
  margin-left: auto;
  margin-right: auto;
}

.video-camera {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}

.photo-booth--button {
  background-color: #eaeaea;
  color:#3e3e3e;
  font-size: 20px;
  padding: 10px;
  margin-top: 1rem;
  width: 180px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 0px 35px 1px rgba(0, 0, 0, 0.5);
}

.photo-booth--button-extend {
  background-color: #eaeaea;
  color:#3e3e3e;
  font-size: 20px;
  padding: 10px;
  margin-top: 1rem;
  width: 180px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 0px 35px 1px rgba(0, 0, 0, 0.5);
}

/* VIZ IMAGES */
.viz {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

/* FOOTER */

.section-footer {
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  color: whitesmoke;
  background-color: #3e3e3e;
}

.section-footer__layout {
  column-gap: var(1rem);
  text-decoration: none;
  margin-right: 45px;
  margin-bottom: 100px;
}

.section-footer--copyright {
  margin-bottom: 0;
  margin-right: auto;
  margin-left: 45px;
}

.section-footer__layout {
  column-gap: var(1rem);
}
.section-footer--love {
  text-align: center;
}

text-note {
  line-height: 1;
}

a {
  text-decoration: none;
  color: whitesmoke;
}
