<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Masky</title>
    <meta name="”description”" content="Informative web site for COVID-19 and mask data with an automated mask detection app." />
    <meta name="keywords" content="" />
    <meta name="robots" content="index,follow" />

    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="{{ url_for('static', filename = 'favicon/apple-icon-57x57.png') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{ url_for('static', filename = 'favicon/apple-icon-60x60.png') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="{{ url_for('static', filename = 'favicon/apple-icon-72x72.png') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="{{ url_for('static', filename = 'favicon/apple-icon-76x76.png') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="{{ url_for('static', filename = 'favicon/apple-icon-114x114.png') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="{{ url_for('static', filename = 'favicon/apple-icon-120x120.png') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="{{ url_for('static', filename = 'favicon/apple-icon-144x144.png') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="{{ url_for('static', filename = 'favicon/apple-icon-152x152.png') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename = 'favicon/apple-icon-180x180.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="{{ url_for('static', filename = 'favicon/android-icon-192x192.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename = 'favicon/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="{{ url_for('static', filename = 'favicon/favicon-96x96.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename = 'favicon/favicon-16x16.png') }}"
    />
    <link rel="manifest" href="{{ url_for('static', filename = 'favicon/manifest.json') }}" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="{{ url_for('static', filename = 'favicon/ms-icon-144x144.png') }}"
    />
    <meta name="theme-color" content="#ffffff" />

    <meta property="og:title" content="Masky" />
    <meta property="og:description" content="Informative web site for COVID-19 and mask data with an automated mask detection app." />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="Masky" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="Masky" />
    <meta name="twitter:description" content="Informative web site for COVID-19 and mask data with an automated mask detection app." />
    <meta name="twitter:image" content="" />

    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/about.css') }}" />
  </head>
  <body>
    <div id="content-top">
      <nav>
        <ul>
          <li><a href="/features">Features</a></li>
          <li><a href="/#content-middle">Dashboard</a></li>
          <li><a href="/about">About Us</a></li>
        </ul>
        <section>
            <a href="https://github.com/FranciscoSerrano/Final-Project"rel="noopener noreferrer" target="_blank"><img
            src="{{ url_for('static', filename = 'img/githublogo.svg') }}"
            alt="Github"
            width="30"
            height="30"
            />
            </a>
        </section>
      </nav>
      <section class="content-top-body">
        <section class="top-about">
          <h1>About Us</h1>
          <p>
            We are a team of four students at the University of Central Florida. The webapp we created
            is part of our final project in the Data Analysis and Visualization course. The goal of this project is
            to create a useful tool by utilizing the skills we've learned over the past six months, including
            exploratory data analysis, python, html, css, javascript, databases, and machine learning.
          </p>
          <br>
          <p>
            This tools purpose is to give the user useful statics based on public COVID-19 data sets
            to help them understand risks of the virus and the importance of wearing a mask. We also included a
            fun widget that takes a photo of the user and analyses their face to see if they are wearing a mask.
            Based on the outcome, useful facts are displayed on the screen.
          </p>
        </section>
    </div>
    <section id="content-middle">
      <section class="content-middle-body">
        <section class="middle-about">
          <h1>Team</h1>
          <h2>Annie</h2>
          <p>
          Annie is an HR Professional, currently working in the hospital system. She
          assisted with project management and confirming all work was clean and
          edited before being submitted. When she is not working, Annie enjoys a good
          Netflix binge and cuddle with her dog, Koda.
          </p>
          <br>
          <h2>Francisco</h2>
          <p>
          Francisco worked on the machine learning model, visualizations, and front-end
          web development. He is currently a software/data engineer with Apple. In his
          free time, Francisco likes to watch anime, eat Oreos, and read.
          </p>
          <br>
          <h2>Jovani</h2>
          <p>
            I am a collaborative, critical thinker who is proactive about learning and development of myself and others; I also turn Oreos and beer into code.
          </p>
          <br>
          <h2>Max</h2>
          <p>
          [insert interesting information here]
          </p>
          <br><br><br><br><br>
          <p>Be super and put on the mask. &#x2764;&#xfe0f;</p>
        </section>
      </section>
    </section>
    <!-- FOOTER -->
    <footer class="section-footer">
      <div class="layout-container">
        <div class="section-footer__layout layout-flex">
          <!-- COPYRIGHT -->
          <p class="section-footer--copyright text-note">
            <small>&copy; Masky</small>
          </p>
          <!-- MENU -->
          <ul style="list-style-type:none">
            <li><h3>Github links</h3>
              <li><a href="https://github.com/FranciscoSerrano" rel="noopener noreferrer" target="_blank">Cisco</a></li>
              <li><a href="https://github.com/soudersmax" rel="noopener noreferrer" target="_blank">Max</a></li>
              <li><a href="https://github.com/JovaniPink" rel="noopener noreferrer" target="_blank">Jovani</a></li>
              <li><a href="https://github.com/AnnieShaffer" rel="noopener noreferrer" target="_blank">Annie</a></li>
        </ul>
        </div>
        <div>
          <p class="section-footer--love text-note">
            <small>Made with &#x2764;&#xfe0f; in sunny Orlando, Florida</small>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
