<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Masky</title>
    <meta name="”description”" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="index,follow" />

    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="../static/favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="../static/favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="../static/favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="../static/favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="../static/favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="../static/favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="../static/favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="../static/favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../static/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="../static/favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../static/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="../static/favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../static/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../static/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="../static/favicon/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />

    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="" />

    <link rel="stylesheet" href="../static/styles/features.css" />
  </head>
  <body>
    <div id="content-top">
      <nav>
        <ul>
            <li><a href="/features" target="_top">Features</a></li>
          <li><a href="/#content-middle">Dashboard</a></li>
          <li><a href="/about" target="_top">About Us</a></li>
        </ul>
        <section>
            <a href="https://github.com/FranciscoSerrano/Final-Project"><img
            src="../static/assets/githublogo.svg"
            alt="Github"
            width="30"
            height="30"
            />
            </a>
        </section>
      </nav>
      <section class="content-top-body">
        <section class="top-features">
          <h1>Features</h1>
          <img src="../static/assets/ML_Project_Overview.png"/>
          <br>
          <p>
            OpenCV provides the CascadeClassifier class that can be used to create a cascade 
            classifier for face detection. The constructor can take a filename as an argument 
            that specifies the XML file for a pre-trained model.
            <br>
            OpenCV provides a number of pre-trained models as part of the installation. These are available on your system and are also available on the OpenCV GitHub project.
            <br>
          </p>
          <img src="../static/assets/CNN_architecture.png"/>
          <br>
          <p>
            Use a cascade classifer to detect a face in a webcam window, extract the face and pass it to a convolutional neural network to classify the image as "mask" or "no mask".
          </p>
        </section>
    </div>
    <section id="content-middle">
      <section class="content-middle-body">
        <section class="middle-about">
          <h1>Environment</h1>
          <p>
            Included in our repository is our "requirements.txt" With this file in the repository, you can create the new environment by running:
          </p>
          <br> 
          <code>
            python -m venv myenv
          </code> 
          <br> 
          <code>
            pip -r requirements.txt
          </code>
          <br><br>
          <h1>Methods</h1>
          <ul style="list-style-type:none">
              <li>Inferential Statistics</li>
              <li>Machine Learning</li>
              <li>Data Visualization</li>
              <li>Predictive Modeling</li>
              <li>etc</li>
          </ul>
          <br>
          <h1>Technologies</h1>
          <ul style="list-style-type:none">
              <li>Python 3</li>
              <li>OpenCV</li>
              <li>Tensorflow/Keras</li>
              <li>Pandas</li>
              <li>numpy</li>
              <li>matplotlib</li>
          </ul>
        </section>
      </section>
    </section>
    <!-- FOOTER -->
    <footer class="section-footer">
      <div class="layout-container">
        <div class="section-footer__layout layout-flex">
          <!-- COPYRIGHT -->
          <p class="section-footer--copyright text-note">
            <small>&copy; Masky</small>
          </p>
          <!-- MENU -->
          <ul style="list-style-type:none">
            <li><h3>Github links</h3>
            <li><a href="https://github.com/FranciscoSerrano">Cisco</a></li>
            <li><a href="https://github.com/soudersmax">Max</a></li>
            <li><a href="https://github.com/JovaniPink">Jovani</a></li>
            <li><a href="https://github.com/AnnieShaffer">Annie</a></li>
        </ul>
        </div>
        <div>
          <p class="section-footer--love text-note">
            <small>Made with &#x2764;&#xfe0f; in sunny Orlando, Florida</small>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>